# Reading And Writing Data in Text Format

In [3]:
import pandas as pd

# reading csv data
df = pd.read_csv("examples/ex1.csv")
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
# when no header is present in the file, handle explicitly!
print(pd.read_csv("examples/ex2.csv"), "\n")
print(pd.read_csv("examples/ex2.csv", header=None), "\n")   # default names
print(pd.read_csv("examples/ex2.csv", names=["a", "b", "c", "d", "message"]))   # add names explicitly

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
# set one column to be the index
names = ["a", "b", "c", "d", "message"]
pd.read_csv("examples/ex2.csv", names=names, index_col="message")

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [11]:
# you can build a hierarchical index as well
!cat examples/csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [12]:
df = pd.read_csv("examples/csv_mindex.csv", index_col=["key1", "key2"])
df

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [13]:
!cat examples/ex3.txt

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [14]:
# you can also use a regex as delimiter
pd.read_csv("examples/ex3.txt", sep="\s+")

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipykernel_30709/3900077557.py:2: SyntaxWarning: invalid escape sequence '\s'
  pd.read_csv("examples/ex3.txt", sep="\s+")

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [15]:
# you can skip certain rows when reading data
!cat examples/ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [16]:
pd.read_csv("examples/ex4.csv", skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [17]:
!cat examples/ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [19]:
# built in na-support
data = pd.read_csv("examples/ex5.csv")
data.isna()

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

## Reading Text Files in Pieces

In [20]:
result = pd.read_csv("examples/ex6.csv")
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [21]:
# you can only read a few rows
pd.read_csv("examples/ex6.csv", nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [ ]:
# or read the file in chunks
chunker = pd.read_csv("examples/ex6.csv", chunksize=1000)
type(chunker)

pandas.io.parsers.readers.TextFileReader

In [32]:
# you can now iterate the chunks
chunker = pd.read_csv("examples/ex6.csv", chunksize=1000)
tot = pd.Series([], dtype="int64")
for piece in chunker:
    tot = tot.add(piece["key"].value_counts(), fill_value=0)
tot = tot.sort_values(ascending=False)
tot

key
E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
V    328.0
I    327.0
U    326.0
P    324.0
D    320.0
A    320.0
R    318.0
Y    314.0
G    308.0
S    308.0
N    306.0
W    305.0
T    304.0
B    302.0
Z    288.0
C    286.0
4    171.0
6    166.0
7    164.0
8    162.0
3    162.0
5    157.0
2    152.0
0    151.0
9    150.0
1    146.0
dtype: float64

## Writing Data to Text Format

In [33]:
data = pd.read_csv("examples/ex5.csv")
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [35]:
# simply using to_csv
data.to_csv("examples/out.csv")
!cat examples/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [36]:
import sys

# can also use other delimiters
data.to_csv(sys.stdout, sep="|")

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [37]:
# missing values can be handled explicitly
data.to_csv(sys.stdout, na_rep="NULL")

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [38]:
# index and header can be handled explicitly as well
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [39]:
data.to_csv(sys.stdout, index=False, columns=["a", "b", "c"])

a,b,c
1,2,3.0
5,6,
9,10,11.0

## JSON Data

In [41]:
!cat examples/example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [43]:
# default behavior: each object is one row
data = pd.read_json("examples/example.json")
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [44]:
# use to_json to export
data.to_json(sys.stdout)

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [45]:
data.to_json(sys.stdout, orient="records")

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

## XML and HTML: Web Scraping

In [47]:
# extra libraries must be installed first
%conda install lxml beautifulsoup4 html5lib

2 channel Terms of Service accepted
Channels:
 - defaults
Platform: linux-64
Collecting package metadata (repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
    current version: 25.5.1
    latest version: 25.11.0

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [48]:
tables = pd.read_html("examples/fdic_failed_bank_list.html")
len(tables)

1

In [50]:
# read_html reads all tabular data from an html file and returns a list of dataframes
failures = tables[0]
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [51]:
# datetime manipulation
pd.to_datetime(failures["Closing Date"])

0     2016-09-23
1     2016-08-19
2     2016-05-06
3     2016-04-29
4     2016-03-11
         ...
542   2001-07-27
543   2001-05-03
544   2001-02-02
545   2000-12-14
546   2000-10-13
Name: Closing Date, Length: 547, dtype: datetime64[ns]

# Binary Data Formats

In [52]:
# store in binary format using to_pickle
frame = pd.read_csv("examples/ex1.csv")
frame.to_pickle("examples/frame_pickle")

In [ ]:
# read back
pd.read_pickle("examples/frame_pickle")

# but never rely on pickle for long-term storage!!
# there are other, better formats for that, including parquet or HDF5

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

## Reading Microsoft Excel Files

In [54]:
# first install requirements
%conda install openpyxl xlrd

2 channel Terms of Service accepted
Channels:
 - defaults
Platform: linux-64
Collecting package metadata (repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
    current version: 25.5.1
    latest version: 25.11.0

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /home/nico/miniconda3/envs/data-science

  added / updated specs:
    - openpyxl
    - xlrd


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    et_xmlfile-2.0.0           |  py312h06a4308_0          33 KB
    openpyxl-3.1.5             |  py312h5eee18b_1         719 KB
    xlrd-2.0.2                 |     pyhd3eb1b0_0          91 KB
    ------------------------------------------------------------
                                           Total:         843 KB

The following NEW packages will be INSTALLED:

  et_xmlfile         pkgs/main/linux-64::et_xmlfile-2.0.0-py312h06a4308_0
  openpyxl           pkgs/main/linux-64::openpyxl-3.1.5-py312h5eee18b_1
  xlrd               pkgs/main/noarch::xlrd-2.0.2-pyhd3eb1b0_0



Downloading and Extracting Packages:
openpyxl-3.1.5       | 719 KB    |                                       |   0%
xlrd-2.0.2           | 91 KB     |                                       |   0%

et_xmlfile-2.0.0     | 33 KB     |                                       |   0%

et_xmlfile-2.0.0     | 33 KB     | ###################################5  |  96%

et_xmlfile-2.0.0     | 33 KB     | ##################################### | 100%

openpyxl-3.1.5       | 719 KB    | ###2                                  |   9%
openpyxl-3.1.5       | 719 KB    | ##################################### | 100%
xlrd-2.0.2           | 91 KB     | ##########################            |  71%
xlrd-2.0.2           | 91 KB     | ##################################### | 100%




Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [56]:
xlsx = pd.ExcelFile("examples/ex1.xlsx")
xlsx.sheet_names

['Sheet1']

In [58]:
# read to dataframe
df = xlsx.parse(sheet_name="Sheet1")
df

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [59]:
# indicate the index column
xlsx.parse(sheet_name="Sheet1", index_col=0)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

## Using HDF5 Format

In [61]:
# hdf5 is perfect for working with large datasets
%conda install pytables

2 channel Terms of Service accepted
Channels:
 - defaults
Platform: linux-64
Collecting package metadata (repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
    current version: 25.5.1
    latest version: 25.11.0

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /home/nico/miniconda3/envs/data-science

  added / updated specs:
    - pytables


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    blosc-1.21.6               |       hf7d4471_0          60 KB
    c-blosc2-2.17.1            |       h4257ac4_0         351 KB
    gettext-0.21.0             |       hedfda30_2         3.0 MB
    hdf5-1.14.5                |       h2b7332f_2         5.9 MB
    intel-openmp-2025.0.0      |    h06a4308_1171        22.3 MB
    jansson-2.14               |       h5eee18b_1          37 KB
    libcurl-8.16.0             |       heebcbe5_0         458 KB
    libgfortran-15.2.0         |       h166f726_7          28 KB
    libgfortran-ng-15.2.0      |       h166f726_7          28 KB
    libgfortran5-15.2.0        |       hc633d37_7         1.5 MB
    libhwloc-2.12.1            |default_hf1bbc79_1000         2.4 MB
    libidn2-2.3.8              |       hf80d704_0          80 KB
    libnghttp2-1.67.1          |       h697f920_0         636 KB
    libunistring-1.3           |       hb25bd0a_0         721 KB
    lzo-2.10                   |       h7b6447c_2         184 KB
    mkl-2025.0.0               |     hacee8c2_941       127.4 MB
    mkl-service-2.5.2          |  py312hacdc0fc_0          75 KB
    mkl_fft-2.1.1              |  py312h8fe796d_0         173 KB
    mkl_random-1.3.0           |  py312h505adc9_0         311 KB
    numexpr-2.14.1             |  py312h41d4191_0         203 KB
    numpy-2.3.5                |  py312h08c6c3d_0          10 KB
    numpy-base-2.3.5           |  py312h00548fb_0         8.1 MB
    py-cpuinfo-9.0.0           |  py312h06a4308_0          60 KB
    pytables-3.10.2            |  py312hc48ae32_2         1.7 MB
    tbb-2022.3.0               |       h698db13_0         181 KB
    tbb-devel-2022.3.0         |       h698db13_0         1.1 MB
    zlib-ng-2.0.7              |       h5eee18b_0         100 KB
    zstd-1.5.7                 |       h11fc155_0         608 KB
    ------------------------------------------------------------
                                           Total:       177.5 MB

The following NEW packages will be INSTALLED:

  blas               pkgs/main/linux-64::blas-1.0-mkl
  blosc              pkgs/main/linux-64::blosc-1.21.6-hf7d4471_0
  c-ares             pkgs/main/linux-64::c-ares-1.34.5-hef5626c_0
  c-blosc2           pkgs/main/linux-64::c-blosc2-2.17.1-h4257ac4_0
  gettext            pkgs/main/linux-64::gettext-0.21.0-hedfda30_2
  hdf5               pkgs/main/linux-64::hdf5-1.14.5-h2b7332f_2
  intel-openmp       pkgs/main/linux-64::intel-openmp-2025.0.0-h06a4308_1171
  jansson            pkgs/main/linux-64::jansson-2.14-h5eee18b_1
  libcurl            pkgs/main/linux-64::libcurl-8.16.0-heebcbe5_0
  libev              pkgs/main/linux-64::libev-4.33-h7f8727e_1
  libgfortran        pkgs/main/linux-64::libgfortran-15.2.0-h166f726_7
  libgfortran-ng     pkgs/main/linux-64::libgfortran-ng-15.2.0-h166f726_7
  libgfortran5       pkgs/main/linux-64::libgfortran5-15.2.0-hc633d37_7
  libhwloc           pkgs/main/linux-64::libhwloc-2.12.1-default_hf1bbc79_1000
  libiconv           pkgs/main/linux-64::libiconv-1.16-h5eee18b_3
  libidn2            pkgs/main/linux-64::libidn2-2.3.8-hf80d704_0
  libnghttp2         pkgs/main/linux-64::libnghttp2-1.67.1-h697f920_0
  libssh2            pkgs/main/linux-64::libssh2-1.11.1-h251f7ec_0
  libunistring       pkgs/main/linux-64::libunistring-1.3-hb25bd0a_0
  lz4-c              pkgs/main/linux-64::lz4-c-1.9.4-h6a678d5_1
  lzo                pkgs/main/linux-64::lzo-2.10-h7b6447c_2
  mkl                pkgs/main/linux-64::mkl-2025.0.0-hacee8c2_941
  mkl-service        pkgs/main/linux-64::mkl-service-2.5.2-py312hacdc0fc_0
  mkl_fft            pkgs/main/linux-64::mkl_fft-2.1.1-py312h8fe796d_0
  mkl_random         pkgs/main/linux-64::mkl_random-1.3.0-py312h505adc9_0
  numexpr            pkgs/main/linux-64::numexpr-2.14.1-py312h41d4191_0
  numpy              pkgs/main/linux-64::numpy-2.3.5-py312h08c6c3d_0
  numpy-base         pkgs/main/linux-64::numpy-base-2.3.5-py312h00548fb_0
  py-cpuinfo         pkgs/main/linux-64::py-cpuinfo-9.0.0-py312h06a4308_0
  pytables           pkgs/main/linux-64::pytables-3.10.2-py312hc48ae32_2
  tbb                pkgs/main/linux-64::tbb-2022.3.0-h698db13_0
  tbb-devel          pkgs/main/linux-64::tbb-devel-2022.3.0-h698db13_0
  zlib-ng            pkgs/main/linux-64::zlib-ng-2.0.7-h5eee18b_0
  zstd               pkgs/main/linux-64::zstd-1.5.7-h11fc155_0



Downloading and Extracting Packages:
mkl-2025.0.0         | 127.4 MB  |                                       |   0%
intel-openmp-2025.0. | 22.3 MB   |                                       |   0%

numpy-base-2.3.5     | 8.1 MB    |                                       |   0%


hdf5-1.14.5          | 5.9 MB    |                                       |   0%



gettext-0.21.0       | 3.0 MB    |                                       |   0%




libhwloc-2.12.1      | 2.4 MB    |                                       |   0%





pytables-3.10.2      | 1.7 MB    |                                       |   0%






libgfortran5-15.2.0  | 1.5 MB    |                                       |   0%







tbb-devel-2022.3.0   | 1.1 MB    |                                       |   0%








libunistring-1.3     | 721 KB    |                                       |   0%









libnghttp2-1.67.1    | 636 KB    |                                       |   0%










zstd-1.5.7           | 608 KB    |                                       |   0%











libcurl-8.16.0       | 458 KB    |                                       |   0%












c-blosc2-2.17.1      | 351 KB    |                                       |   0%













mkl_random-1.3.0     | 311 KB    |                                       |   0%














numexpr-2.14.1       | 203 KB    |                                       |   0%















lzo-2.10             | 184 KB    |                                       |   0%
















tbb-2022.3.0         | 181 KB    |                                       |   0%

















mkl_fft-2.1.1        | 173 KB    |                                       |   0%


















zlib-ng-2.0.7        | 100 KB    |                                       |   0%



















libidn2-2.3.8        | 80 KB     |                                       |   0%




















mkl-service-2.5.2    | 75 KB     |                                       |   0%





















blosc-1.21.6         | 60 KB     |                                       |   0%






















 ... (more hidden) ...

numpy-base-2.3.5     | 8.1 MB    | 1                                     |   0%


hdf5-1.14.5          | 5.9 MB    |                                       |   0%
intel-openmp-2025.0. | 22.3 MB   |                                       |   0%



mkl-2025.0.0         | 127.4 MB  |                                       |   0%

numpy-base-2.3.5     | 8.1 MB    | 2                                     |   1%


hdf5-1.14.5          | 5.9 MB    | 3                                     |   1%
intel-openmp-2025.0. | 22.3 MB   | 1                                     |   0%



mkl-2025.0.0         | 127.4 MB  |                                       |   0%

numpy-base-2.3.5     | 8.1 MB    | ######1                               |  17%



gettext-0.21.0       | 3.0 MB    | #####1                                |  14%
mkl-2025.0.0         | 127.4 MB  |                                       |   0%

numpy-base-2.3.5     | 8.1 MB    | ##############1                       |  38%



gettext-0.21.0       | 3.0 MB    | ################6                     |  45%
intel-openmp-2025.0. | 22.3 MB   | ##8                                   |   8%

mkl-2025.0.0         | 127.4 MB  | 2                                     |   1%



gettext-0.21.0       | 3.0 MB    | ###########################1          |  73%
mkl-2025.0.0         | 127.4 MB  | 5                                     |   1%

numpy-base-2.3.5     | 8.1 MB    | #######################4              |  63%



gettext-0.21.0       | 3.0 MB    | ##################################4   |  93%
intel-openmp-2025.0. | 22.3 MB   | ####8                                 |  13%



mkl-2025.0.0         | 127.4 MB  | 9                                     |   2%



gettext-0.21.0       | 3.0 MB    | ##################################### | 100%

numpy-base-2.3.5     | 8.1 MB    | ############################6         |  77%




libhwloc-2.12.1      | 2.4 MB    | 2                                     |   1%
mkl-2025.0.0         | 127.4 MB  | #1                                    |   3%

numpy-base-2.3.5     | 8.1 MB    | ##################################    |  92%
intel-openmp-2025.0. | 22.3 MB   | ########5                             |  23%




mkl-2025.0.0         | 127.4 MB  | #3                                    |   4%

numpy-base-2.3.5     | 8.1 MB    | ##################################### | 100%





pytables-3.10.2      | 1.7 MB    | 3                                     |   1%




libhwloc-2.12.1      | 2.4 MB    | ####################################9 | 100%
mkl-2025.0.0         | 127.4 MB  | #7                                    |   5%




libhwloc-2.12.1      | 2.4 MB    | ##################################### | 100%





pytables-3.10.2      | 1.7 MB    | #########################9            |  70%




libhwloc-2.12.1      | 2.4 MB    | ##################################### | 100%






libgfortran5-15.2.0  | 1.5 MB    | 3                                     |   1%

mkl-2025.0.0         | 127.4 MB  | ##                                    |   5%





pytables-3.10.2      | 1.7 MB    | ##################################### | 100%






libgfortran5-15.2.0  | 1.5 MB    | ############2                         |  33%
intel-openmp-2025.0. | 22.3 MB   | ############5                         |  34%





mkl-2025.0.0         | 127.4 MB  | ##4                                   |   7%







tbb-devel-2022.3.0   | 1.1 MB    | 5                                     |   1%
mkl-2025.0.0         | 127.4 MB  | ##8                                   |   8%







tbb-devel-2022.3.0   | 1.1 MB    | ##################################### | 100%
intel-openmp-2025.0. | 22.3 MB   | ##################                    |  49%








libunistring-1.3     | 721 KB    | 8                                     |   2%







tbb-devel-2022.3.0   | 1.1 MB    | ##################################### | 100%







mkl-2025.0.0         | 127.4 MB  | ###2                                  |   9%






libgfortran5-15.2.0  | 1.5 MB    | ####################################8 |  99%






libgfortran5-15.2.0  | 1.5 MB    | ##################################### | 100%






libgfortran5-15.2.0  | 1.5 MB    | ##################################### | 100%








libunistring-1.3     | 721 KB    | ##################################### | 100%








libunistring-1.3     | 721 KB    | ##################################### | 100%
intel-openmp-2025.0. | 22.3 MB   | ####################                  |  54%










mkl-2025.0.0         | 127.4 MB  | ###6                                  |  10%









libnghttp2-1.67.1    | 636 KB    | 9                                     |   3%










zstd-1.5.7           | 608 KB    | ##################################### | 100%










zstd-1.5.7           | 608 KB    | ##################################### | 100%
intel-openmp-2025.0. | 22.3 MB   | ######################                |  60%









libnghttp2-1.67.1    | 636 KB    | ##################################### | 100%









mkl-2025.0.0         | 127.4 MB  | ####                                  |  11%











libcurl-8.16.0       | 458 KB    | #2                                    |   3%











libcurl-8.16.0       | 458 KB    | ##################################### | 100%
intel-openmp-2025.0. | 22.3 MB   | ########################3             |  66%











libcurl-8.16.0       | 458 KB    | ##################################### | 100%












mkl-2025.0.0         | 127.4 MB  | ####5                                 |  12%












c-blosc2-2.17.1      | 351 KB    | ##################################### | 100%












c-blosc2-2.17.1      | 351 KB    | ##################################### | 100%













mkl_random-1.3.0     | 311 KB    | #9                                    |   5%
intel-openmp-2025.0. | 22.3 MB   | ##########################3           |  71%













mkl_random-1.3.0     | 311 KB    | ##################################### | 100%













mkl_random-1.3.0     | 311 KB    | ##################################### | 100%














numexpr-2.14.1       | 203 KB    | ##9                                   |   8%














mkl-2025.0.0         | 127.4 MB  | ####9                                 |  13%














numexpr-2.14.1       | 203 KB    | ##################################### | 100%















lzo-2.10             | 184 KB    | ###2                                  |   9%
intel-openmp-2025.0. | 22.3 MB   | ############################6         |  77%















lzo-2.10             | 184 KB    | ##################################### | 100%















lzo-2.10             | 184 KB    | ##################################### | 100%
















tbb-2022.3.0         | 181 KB    | ###2                                  |   9%
















tbb-2022.3.0         | 181 KB    | ##################################### | 100%
















mkl-2025.0.0         | 127.4 MB  | #####5                                |  15%
intel-openmp-2025.0. | 22.3 MB   | ##############################8       |  83%

















mkl_fft-2.1.1        | 173 KB    | ###4                                  |   9%

















mkl_fft-2.1.1        | 173 KB    | ##################################### | 100%

















mkl_fft-2.1.1        | 173 KB    | ##################################### | 100%


















zlib-ng-2.0.7        | 100 KB    | #####9                                |  16%


















zlib-ng-2.0.7        | 100 KB    | ##################################### | 100%


















mkl-2025.0.0         | 127.4 MB  | #####9                                |  16%



















libidn2-2.3.8        | 80 KB     | #######3                              |  20%



















libidn2-2.3.8        | 80 KB     | ##################################### | 100%



















libidn2-2.3.8        | 80 KB     | ##################################### | 100%
intel-openmp-2025.0. | 22.3 MB   | #################################1    |  90%




















mkl-service-2.5.2    | 75 KB     | #######8                              |  21%




















mkl-service-2.5.2    | 75 KB     | ##################################### | 100%




















mkl-2025.0.0         | 127.4 MB  | ######4                               |  17%





















blosc-1.21.6         | 60 KB     | #########8                            |  27%





















blosc-1.21.6         | 60 KB     | ##################################### | 100%





















blosc-1.21.6         | 60 KB     | ##################################### | 100%
mkl-2025.0.0         | 127.4 MB  | ######9                               |  19%






















 ... (more hidden) ...






















 ... (more hidden) ...






















mkl-2025.0.0         | 127.4 MB  | #######5                              |  20% [A
mkl-2025.0.0         | 127.4 MB  | ########2                             |  22%
mkl-2025.0.0         | 127.4 MB  | ##################################### | 100%


hdf5-1.14.5          | 5.9 MB    | #9                                    |   5%


hdf5-1.14.5          | 5.9 MB    | ##########4                           |  28%


hdf5-1.14.5          | 5.9 MB    | ###############################       |  84%


hdf5-1.14.5          | 5.9 MB    | ##################################### | 100%


hdf5-1.14.5          | 5.9 MB    | ##################################### | 100%






























































































































































































































































































Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [63]:
import numpy as np

frame = pd.DataFrame({"a": np.random.standard_normal(100)})
store = pd.HDFStore("examples/mydata.h5")
store["obj1"] = frame
store["obj1_col"] = frame["a"]
store

<class 'pandas.io.pytables.HDFStore'>
File path: examples/mydata.h5

In [64]:
# retrieve object
store["obj1"]

           a
0   0.640277
1  -0.410715
2   0.226800
3  -1.035273
4  -2.906893
..       ...
95 -1.462231
96  0.806786
97  1.275645
98 -0.070060
99 -0.789518

[100 rows x 1 columns]

# Interacting With Web APIs

In [65]:
%conda install requests

2 channel Terms of Service accepted
Channels:
 - defaults
Platform: linux-64
Collecting package metadata (repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
    current version: 25.5.1
    latest version: 25.11.0

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /home/nico/miniconda3/envs/data-science

  added / updated specs:
    - requests


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    brotlicffi-1.2.0.0         |  py312h7354ed3_0         373 KB
    certifi-2025.11.12         |  py312h06a4308_0         154 KB
    cffi-2.0.0                 |  py312h4eded50_1         287 KB
    charset-normalizer-3.4.4   |  py312h06a4308_0          98 KB
    idna-3.11                  |  py312h06a4308_0         199 KB
    pycparser-2.23             |  py312h06a4308_0         272 KB
    pysocks-1.7.1              |  py312h06a4308_1          35 KB
    requests-2.32.5            |  py312h06a4308_1         162 KB
    urllib3-2.6.0              |  py312h06a4308_0         342 KB
    ------------------------------------------------------------
                                           Total:         1.9 MB

The following NEW packages will be INSTALLED:

  brotlicffi         pkgs/main/linux-64::brotlicffi-1.2.0.0-py312h7354ed3_0
  certifi            pkgs/main/linux-64::certifi-2025.11.12-py312h06a4308_0
  cffi               pkgs/main/linux-64::cffi-2.0.0-py312h4eded50_1
  charset-normalizer pkgs/main/linux-64::charset-normalizer-3.4.4-py312h06a4308_0
  idna               pkgs/main/linux-64::idna-3.11-py312h06a4308_0
  pycparser          pkgs/main/linux-64::pycparser-2.23-py312h06a4308_0
  pysocks            pkgs/main/linux-64::pysocks-1.7.1-py312h06a4308_1
  requests           pkgs/main/linux-64::requests-2.32.5-py312h06a4308_1
  urllib3            pkgs/main/linux-64::urllib3-2.6.0-py312h06a4308_0



Downloading and Extracting Packages:
brotlicffi-1.2.0.0   | 373 KB    |                                       |   0%
urllib3-2.6.0        | 342 KB    |                                       |   0%

cffi-2.0.0           | 287 KB    |                                       |   0%


pycparser-2.23       | 272 KB    |                                       |   0%



idna-3.11            | 199 KB    |                                       |   0%




requests-2.32.5      | 162 KB    |                                       |   0%





certifi-2025.11.12   | 154 KB    |                                       |   0%






charset-normalizer-3 | 98 KB     |                                       |   0%







brotlicffi-1.2.0.0   | 373 KB    | #5                                    |   4%

cffi-2.0.0           | 287 KB    | ##                                    |   6%



idna-3.11            | 199 KB    | ##9                                   |   8%
urllib3-2.6.0        | 342 KB    | ######9                               |  19%


pycparser-2.23       | 272 KB    | ########7                             |  24%


pycparser-2.23       | 272 KB    | ##################################### | 100%



idna-3.11            | 199 KB    | ##################################### | 100%
brotlicffi-1.2.0.0   | 373 KB    | ##################################### | 100%



idna-3.11            | 199 KB    | ##################################### | 100%

brotlicffi-1.2.0.0   | 373 KB    | ##################################### | 100%




requests-2.32.5      | 162 KB    | ###6                                  |  10%




requests-2.32.5      | 162 KB    | ##################################### | 100%






charset-normalizer-3 | 98 KB     | ######                                |  16%

cffi-2.0.0           | 287 KB    | ##################################### | 100%

cffi-2.0.0           | 287 KB    | ##################################### | 100%







pysocks-1.7.1        | 35 KB     | ################9                     |  46%





certifi-2025.11.12   | 154 KB    | ###8                                  |  10%







pysocks-1.7.1        | 35 KB     | ##################################### | 100%
urllib3-2.6.0        | 342 KB    | ##################################### | 100%
urllib3-2.6.0        | 342 KB    | ##################################### | 100%


pycparser-2.23       | 272 KB    | ##################################### | 100%


pycparser-2.23       | 272 KB    | ##################################### | 100%





certifi-2025.11.12   | 154 KB    | ##################################### | 100%







pysocks-1.7.1        | 35 KB     | ##################################### | 100%





certifi-2025.11.12   | 154 KB    | ##################################### | 100%




requests-2.32.5      | 162 KB    | ##################################### | 100%






charset-normalizer-3 | 98 KB     | ##################################### | 100%











































Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [ ]:
import requests

url = "https://api.github.com/repos/pandas-dev/pandas/issues"
resp = requests.get(url)
resp.raise_for_status() # good practice to check for errors
resp

In [68]:
data = resp.json()
data[0]

{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/63296',
 'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
 'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/63296/labels{/name}',
 'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/63296/comments',
 'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/63296/events',
 'html_url': 'https://github.com/pandas-dev/pandas/pull/63296',
 'id': 3704571715,
 'node_id': 'PR_kwDOAA0YD863lWrr',
 'number': 63296,
 'title': 'STY: Use strict arg in zip() in pandas/tests/plotting',
 'user': {'login': 'AKHIL-149',
  'id': 151084422,
  'node_id': 'U_kgDOCQFdhg',
  'avatar_url': 'https://avatars.githubusercontent.com/u/151084422?v=4',
  'gravatar_id': '',
  'url': 'https://api.github.com/users/AKHIL-149',
  'html_url': 'https://github.com/AKHIL-149',
  'followers_url': 'https://api.github.com/users/AKHIL-149/followers',
  'following_url': 'https://api.github.com/users/AKHIL-149/following{/other_user}',
  'gists_url': 'https://api.github.com/users/AKHIL-149/gists{/gist_id}',
  'starred_url': 'https://api.github.com/users/AKHIL-149/starred{/owner}{/repo}',
  'subscriptions_url': 'https://api.github.com/users/AKHIL-149/subscriptions',
  'organizations_url': 'https://api.github.com/users/AKHIL-149/orgs',
  'repos_url': 'https://api.github.com/users/AKHIL-149/repos',
  'events_url': 'https://api.github.com/users/AKHIL-149/events{/privacy}',
  'received_events_url': 'https://api.github.com/users/AKHIL-149/received_events',
  'type': 'User',
  'user_view_type': 'public',
  'site_admin': False},
 'labels': [],
 'state': 'open',
 'locked': False,
 'assignee': None,
 'assignees': [],
 'milestone': None,
 'comments': 0,
 'created_at': '2025-12-08T04:15:47Z',
 'updated_at': '2025-12-08T08:42:44Z',
 'closed_at': None,
 'author_association': 'NONE',
 'type': None,
 'active_lock_reason': None,
 'draft': False,
 'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/63296',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/63296',
  'diff_url': 'https://github.com/pandas-dev/pandas/pull/63296.diff',
  'patch_url': 'https://github.com/pandas-dev/pandas/pull/63296.patch',
  'merged_at': None},
 'body': "I added the `strict=True` parameter to 30 `zip()` calls across 8 files in the `pandas/tests/plotting` directory to enforce Ruff rule B905.\r\n\r\n**Changes made:**\r\n- `common.py`: 5 zip() calls\r\n- `frame/test_frame_color.py`: 11 zip() calls\r\n- `frame/test_frame_groupby.py`: 2 zip() calls\r\n- `test_boxplot_method.py`: 3 zip() calls\r\n- `test_datetimelike.py`: 5 zip() calls\r\n- `test_groupby.py`: 1 zip() call\r\n- `test_hist_method.py`: 2 zip() calls\r\n- `test_series.py`: 1 zip() call\r\n\r\nThis ensures that all zipped iterables have equal lengths, making the tests more robust and catching potential bugs early during testing.\r\n\r\n---\r\n\r\n**Checklist:**\r\n\r\n- [x] closes #62434\r\n- [ ] Tests added and passed if fixing a bug or adding a new feature - *N/A: Style fix, existing tests validate the change*\r\n- [x] All code checks passed\r\n- [ ] Added type annotations to new arguments/methods/functions - *N/A: No new code added*\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature - *N/A: Style fix doesn't require whatsnew entry*\r\n- [ ] If I used AI to develop this pull request, I prompted it to follow `AGENTS.md` - *N/A: Manual code changes*",
 'closed_by': None,
 'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/63296/reactions',
  'total_count': 0,
  '+1': 0,
  '-1': 0,
  'laugh': 0,
  'hooray': 0,
  'confused': 0,
  'heart': 0,
  'rocket': 0,
  'eyes': 0},
 'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/63296/timeline',
 'performed_via_github_app': None,
 'state_reason': None}

In [69]:
# read to dataframe
issues = pd.DataFrame(data, columns=["number", "title", "labels", "state"])
issues.head()

   number                                              title labels state
0   63296  STY: Use strict arg in zip() in pandas/tests/p...     []  open
1   63295              Refactor test_combine_first dataframe     []  open
2   63294  STY: Use strict arg in zip() in pandas/tests/e...     []  open
3   63293  STY: Use strict arg in zip() in pandas/tests/d...     []  open
4   63292   BUG: slicing with Timestamp with mismatched unit     []  open

# Interacting with Databases

In [ ]:
import sqlite3

query = """
CREATE TABLE test (a VARCHAR(20), b VARCHAR(20), c REAL, d INTEGER)
"""
con = sqlite3.connect("mydata.sqlite")
con.execute(query)
con.commit()

OperationalError: table test already exists

In [73]:
data = [
    ("Atlanta", "Georgia", 1.25, 6),
    ("Tallahassee", "Florida", 2.6, 3),
    ("Sacramento", "California", 1.7, 5)
]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [74]:
cursor = con.execute("SELECT * FROM test")
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [75]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [76]:
# to simplify reading, use the sqlalchemy library
%conda install sqlalchemy

2 channel Terms of Service accepted
Channels:
 - defaults
Platform: linux-64
Collecting package metadata (repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
    current version: 25.5.1
    latest version: 25.11.0

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /home/nico/miniconda3/envs/data-science

  added / updated specs:
    - sqlalchemy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    greenlet-3.2.4             |  py312hbdd6827_0         229 KB
    sqlalchemy-2.0.43          |  py312h7e39e78_0         6.7 MB
    ------------------------------------------------------------
                                           Total:         6.9 MB

The following NEW packages will be INSTALLED:

  greenlet           pkgs/main/linux-64::greenlet-3.2.4-py312hbdd6827_0
  sqlalchemy         pkgs/main/linux-64::sqlalchemy-2.0.43-py312h7e39e78_0



Downloading and Extracting Packages:
sqlalchemy-2.0.43    | 6.7 MB    |                                       |   0%
greenlet-3.2.4       | 229 KB    |                                       |   0%
sqlalchemy-2.0.43    | 6.7 MB    | 3                                     |   1%
greenlet-3.2.4       | 229 KB    | ##################################### | 100%


Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [77]:
import sqlalchemy as sqla

db = sqla.create_engine("sqlite:///mydata.sqlite")
pd.read_sql("SELECT * FROM test", db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5